Software/Dashboard/flows.json
[
    {
        "id": "3d30a48e8cdd7818",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5ef7a915a7c722a",
        "type": "mqtt in",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "topic": "YOM/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5e32988b2e720b33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "2ef35af19fa6ac32"
            ]
        ]
    },
    {
        "id": "eae7e8954af9c686",
        "type": "http in",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "url": "/myui",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "0dfb75b83482591f"
            ]
        ]
    },
    {
        "id": "d788ab124df2dd62",
        "type": "http response",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 740,
        "wires": []
    },
    {
        "id": "0dfb75b83482591f",
        "type": "template",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Smart Pot Dashboard</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <script src=\"https://unpkg.com/@phosphor-icons/web\"></script>\n    \n    <style>\n        body { font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif; }\n        .hidden { display: none !important; }\n    </style>\n</head>\n<body class=\"bg-slate-50 text-slate-800 selection:bg-green-100 min-h-screen\">\n\n    <nav class=\"bg-white border-b border-gray-200 px-6 py-4 sticky top-0 z-10 shadow-sm\">\n        <div class=\"max-w-5xl mx-auto flex justify-between items-center\">\n            <div class=\"flex items-center space-x-3\">\n                <div class=\"bg-green-500 p-2 rounded-xl text-white flex items-center justify-center\">\n                    <i class=\"ph ph-leaf text-2xl\"></i>\n                </div>\n                <h1 class=\"text-xl font-bold tracking-tight text-gray-900\">Smart YOM Dashboard</h1>\n            </div>\n            \n            <div class=\"flex items-center space-x-4\">\n                <div class=\"flex items-center text-sm font-medium\" id=\"connection-status\">\n                    <span id=\"status-connecting\" class=\"hidden flex items-center text-amber-600 bg-amber-50 px-3 py-1 rounded-full border border-amber-200\">\n                        <i class=\"ph ph-spinner animate-spin text-base mr-2\"></i> Connecting...\n                    </span>\n                    <span id=\"status-connected\" class=\"hidden flex items-center text-emerald-600 bg-emerald-50 px-3 py-1 rounded-full border border-emerald-200\">\n                        <i class=\"ph ph-wifi-high text-base mr-2\"></i> Connected\n                    </span>\n                    <span id=\"status-disconnected\" class=\"hidden flex items-center text-red-600 bg-red-50 px-3 py-1 rounded-full border border-red-200\">\n                        <i class=\"ph ph-wifi-slash text-base mr-2\"></i> Disconnected\n                    </span>\n                </div>\n                \n                <button id=\"toggle-settings-btn\" class=\"p-2 text-gray-400 bg-transparent hover:bg-gray-100 rounded-full transition-colors\" title=\"Toggle Plant Configuration\">\n                    <i class=\"ph ph-gear text-xl\"></i>\n                </button>\n            </div>\n        </div>\n    </nav>\n\n    <main class=\"max-w-5xl mx-auto px-6 py-8 space-y-8\">\n\n        <div id=\"plant-config-content\" class=\"hidden transition-all duration-300\">\n            <section class=\"bg-white rounded-3xl border border-gray-200 shadow-sm overflow-hidden\">\n                <div class=\"p-6 md:p-8\">\n                    <div class=\"flex items-center space-x-3 mb-6\">\n                        <div class=\"bg-green-100 p-2 rounded-lg text-green-600 flex items-center justify-center\">\n                            <i class=\"ph ph-plant text-2xl\"></i>\n                        </div>\n                        <div>\n                            <h2 class=\"text-xl font-bold text-gray-800\">Plant Configuration</h2>\n                            <p class=\"text-sm text-gray-500\">Select the plant currently in the pot to adjust care algorithms.</p>\n                        </div>\n                    </div>\n\n                    <form id=\"plant-form\" method=\"POST\" action=\"/success\">\n                        <div id=\"plant-grid\" class=\"grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-8\">\n                            </div>\n\n                        <input type=\"hidden\" id=\"selected-plant-input\" name=\"plant\" value=\"\">\n                        <input type=\"hidden\" name=\"plantName\" id=\"plant-name-input\" value=\"\">\n                        \n                        <div class=\"flex flex-col sm:flex-row items-center justify-between pt-6 border-t border-gray-100\">\n                            <p class=\"text-sm text-gray-500 mb-4 sm:mb-0\">\n                                Currently selected: \n                                <strong id=\"selected-plant-name\" class=\"text-gray-800 ml-1\">Loading...</strong>\n                            </p>\n                            \n                            <div class=\"flex flex-col items-end\">\n                                <button type=\"submit\" id=\"save-btn\" class=\"flex items-center space-x-2 px-6 py-3 rounded-xl font-medium transition-all shadow-sm bg-green-600 text-white hover:bg-green-700 hover:shadow-md\">\n                                    <span id=\"save-btn-text\">Save Configuration</span>\n                                    <i id=\"save-btn-icon\" class=\"ph ph-check text-lg\"></i>\n                                </button>\n                                <span id=\"save-success-msg\" class=\"text-xs text-emerald-500 mt-2 hidden\">Configuration saved successfully!</span>\n                            </div>\n                        </div>\n                    </form>\n                </div>\n            </section>\n        </div>\n\n        <section>\n            <div class=\"flex justify-between items-end mb-4\">\n                <h2 class=\"text-xl font-bold text-gray-800\">Live Pot Status</h2>\n                <span id=\"last-updated\" class=\"text-xs text-gray-400\">Waiting for data...</span>\n            </div>\n            \n            <div class=\"grid grid-cols-1 md:grid-cols-3 gap-6\">\n                <div class=\"p-6 rounded-2xl border border-gray-100 shadow-sm flex items-center space-x-4 bg-white transition-all hover:shadow-md\">\n                    <div class=\"p-4 rounded-full bg-orange-50 text-orange-500 flex items-center justify-center\">\n                        <i class=\"ph ph-thermometer text-3xl\"></i>\n                    </div>\n                    <div>\n                        <p class=\"text-sm font-medium text-gray-500 mb-1\">Soil Temperature</p>\n                        <div class=\"flex items-baseline space-x-1\">\n                            <h3 id=\"temp-val\" class=\"text-3xl font-bold text-gray-800\">--</h3>\n                            <span class=\"text-lg text-gray-400 font-medium\">°C</span>\n                        </div>\n                    </div>\n                </div>\n                <div class=\"p-6 rounded-2xl border border-gray-100 shadow-sm flex items-center space-x-4 bg-white transition-all hover:shadow-md\">\n                    <div class=\"p-4 rounded-full bg-blue-50 text-blue-500 flex items-center justify-center\">\n                        <i class=\"ph ph-drop text-3xl\"></i>\n                    </div>\n                    <div>\n                        <p class=\"text-sm font-medium text-gray-500 mb-1\">Soil Moisture</p>\n                        <div class=\"flex items-baseline space-x-1\">\n                            <h3 id=\"hum-val\" class=\"text-3xl font-bold text-gray-800\">--</h3>\n                            <span class=\"text-lg text-gray-400 font-medium\">%</span>\n                        </div>\n                    </div>\n                </div>\n                <div class=\"p-6 rounded-2xl border border-gray-100 shadow-sm flex items-center space-x-4 bg-white transition-all hover:shadow-md\">\n                    <div class=\"p-4 rounded-full bg-amber-50 text-amber-500 flex items-center justify-center\">\n                        <i class=\"ph ph-sun text-3xl\"></i>\n                    </div>\n                    <div>\n                        <p class=\"text-sm font-medium text-gray-500 mb-1\">Light Exposure</p>\n                        <div class=\"flex items-baseline space-x-1\">\n                            <h3 id=\"light-val\" class=\"text-3xl font-bold text-gray-800\">--</h3>\n                            <span class=\"text-lg text-gray-400 font-medium\">lux</span>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n\n        <section id=\"plant-detail-section\" class=\"bg-white rounded-3xl border border-gray-200 shadow-sm overflow-hidden\">\n            <div class=\"p-6 md:p-8\">\n                <div class=\"flex items-center space-x-3 mb-6\">\n                    <div class=\"bg-green-600 p-2 rounded-lg text-white flex items-center justify-center\">\n                        <i class=\"ph ph-info text-2xl\"></i>\n                    </div>\n                    <div>\n                        <h2 class=\"text-xl font-bold text-gray-800\">Plant Care Guide</h2>\n                        <p class=\"text-sm text-gray-600\">Detailed information for your selected plant</p>\n                    </div>\n                </div>\n\n                <div id=\"plant-detail-content\" class=\"space-y-6\">\n                    <p class=\"text-gray-500\">Loading plant data...</p>\n                </div>\n            </div>\n        </section>\n\n    </main>\n\n    <script>\n        const nodeRedData = {\n            temp: \"{{{flow.payload.temp}}}\",\n            humidity: \"{{{flow.payload.humidity}}}\",\n            light: \"{{{flow.payload.light}}}\",\n            status: \"{{{flow.status}}}\" \n        };\n\n        let PLANT_TYPES = [];\n\n        let state = {\n            showPlantConfig: false,\n            selectedPlant: null,\n            originalSelectedPlant: null\n        };\n\n        const els = {\n            toggleSettingsBtn: document.getElementById('toggle-settings-btn'),\n            plantConfigContent: document.getElementById('plant-config-content'),\n            statusConnecting: document.getElementById('status-connecting'),\n            statusConnected: document.getElementById('status-connected'),\n            statusDisconnected: document.getElementById('status-disconnected'),\n            tempVal: document.getElementById('temp-val'),\n            humVal: document.getElementById('hum-val'),\n            lightVal: document.getElementById('light-val'),\n            lastUpdated: document.getElementById('last-updated'),\n            plantGrid: document.getElementById('plant-grid'),\n            selectedPlantName: document.getElementById('selected-plant-name'),\n            plantForm: document.getElementById('plant-form'),\n            selectedPlantInput: document.getElementById('selected-plant-input'),\n            plantNameInput: document.getElementById('plant-name-input'),\n            saveBtn: document.getElementById('save-btn'),\n            saveBtnText: document.getElementById('save-btn-text'),\n            saveBtnIcon: document.getElementById('save-btn-icon'),\n            saveSuccessMsg: document.getElementById('save-success-msg'),\n            plantDetailContent: document.getElementById('plant-detail-content')\n        };\n\n        async function init() {\n            await loadExternalPlantData();\n            loadSavedConfiguration();\n            renderPlantGrid();\n            renderPlantDetail();\n            setupEventListeners();\n            applyDataToScreen(nodeRedData);\n            startDataPolling();\n        }\n\n        async function loadExternalPlantData() {\n            try {\n                const response = await fetch('/plants');\n                if (response.ok) {\n                    PLANT_TYPES = await response.json();\n                    if (PLANT_TYPES.length > 0) {\n                        state.selectedPlant = PLANT_TYPES[0].id;\n                        state.originalSelectedPlant = PLANT_TYPES[0].id;\n                    }\n                } else {\n                    console.error(\"Failed to load plant JSON.\");\n                }\n            } catch (error) {\n                console.error(\"Error connecting to /plants endpoint:\", error);\n            }\n        }\n\n        // --- UPDATED POLLING FUNCTION ---\n        function startDataPolling() {\n            setInterval(async () => {\n                try {\n                    const response = await fetch('/data');\n                    if (response.ok) {\n                        const liveData = await response.json();\n                        \n                        // Update the screen\n                        applyDataToScreen(liveData);\n                        \n                        // Check limits and send back to Node-RED/MQTT\n                        evaluateAndSendStatus(liveData);\n                    }\n                } catch (error) {\n                    console.error(\"Failed to fetch live data:\", error);\n                }\n            }, 2000); \n        }\n\n        // --- NEW: FRONTEND EVALUATION & MQTT PUSH ---\n        async function evaluateAndSendStatus(sensorData) {\n            // Get the currently selected plant limits from our JSON array\n            const plantLimits = PLANT_TYPES.find(p => p.id === state.selectedPlant);\n            \n            if (!plantLimits) return; // Wait until data is loaded\n            \n            let statusObj = {\n                humidity: \"unknown\",\n                light: \"unknown\",\n                temperature: \"unknown\",\n                overall: \"unknown\"\n            };\n\n            // Evaluate Humidity\n            let currentHum = sensorData.humidity !== undefined ? sensorData.humidity : sensorData.hum;\n            if (currentHum !== undefined) {\n                if (currentHum < plantLimits.humidity.min) statusObj.humidity = \"thirsty\";\n                else if (currentHum > plantLimits.humidity.max) statusObj.humidity = \"drowning\";\n                else statusObj.humidity = \"happy\";\n            }\n\n            // Evaluate Light\n            let currentLight = sensorData.light;\n            if (currentLight !== undefined) {\n                if (currentLight < plantLimits.light.min) statusObj.light = \"needs more sun\";\n                else if (currentLight > plantLimits.light.max) statusObj.light = \"too bright\";\n                else statusObj.light = \"happy\";\n            }\n\n            // Evaluate Temperature\n            let currentTemp = sensorData.temp !== undefined ? sensorData.temp : sensorData.temperature;\n            if (currentTemp !== undefined) {\n                if (currentTemp < plantLimits.temperature.min) statusObj.temperature = \"too cold\";\n                else if (currentTemp > plantLimits.temperature.max) statusObj.temperature = \"too hot\";\n                else statusObj.temperature = \"happy\";\n            }\n\n            // Overall Status\n            if (statusObj.humidity === \"happy\" && statusObj.light === \"happy\" && statusObj.temperature === \"happy\") {\n                statusObj.overall = \"perfect\";\n            } else {\n                statusObj.overall = \"needs attention\";\n            }\n\n            // Send to the Node-RED /statusplant endpoint via POST\n            try {\n                await fetch('/statusplant', {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(statusObj)\n                });\n            } catch (err) {\n                console.error(\"Failed to send evaluated status to Node-RED\", err);\n            }\n        }\n\n        function applyDataToScreen(data) {\n            if (data.temp !== undefined && data.temp !== \"\") els.tempVal.innerText = data.temp;\n            if (data.humidity !== undefined && data.humidity !== \"\") els.humVal.innerText = data.humidity;\n            if (data.light !== undefined && data.light !== \"\") els.lightVal.innerText = data.light;\n\n            const now = new Date();\n            els.lastUpdated.innerText = `Last updated: ${now.toLocaleTimeString()}`;\n\n            els.statusConnecting.classList.add('hidden');\n            els.statusConnected.classList.add('hidden');\n            els.statusDisconnected.classList.add('hidden');\n\n            if (data.status === \"Connecting...\") {\n                els.statusConnecting.classList.remove('hidden');\n            } else if (data.status === \"Connected\") {\n                els.statusConnected.classList.remove('hidden');\n            } else if (data.status) {\n                els.statusDisconnected.classList.remove('hidden');\n            }\n        }\n\n        function loadSavedConfiguration() {\n            const savedConfig = localStorage.getItem('smartPotConfig');\n            if (savedConfig) {\n                try {\n                    const config = JSON.parse(savedConfig);\n                    const exists = PLANT_TYPES.some(p => p.id === config.plant);\n                    if (exists) {\n                        state.selectedPlant = config.plant;\n                        state.originalSelectedPlant = config.plant;\n                        \n                        // SYNC: Let Node-RED know which plant limits are active\n                        const plantInfo = PLANT_TYPES.find(p => p.id === config.plant);\n                        fetch('/success', {\n                            method: 'POST',\n                            headers: { 'Content-Type': 'application/json' },\n                            body: JSON.stringify(plantInfo)\n                        }).catch(e => console.log(\"Background sync failed\", e));\n                    }\n                } catch (error) {\n                    console.error('Error loading config:', error);\n                }\n            }\n            updateSaveButtonState();\n        }\n\n        function setupEventListeners() {\n            els.toggleSettingsBtn.addEventListener('click', () => {\n                state.showPlantConfig = !state.showPlantConfig;\n                els.plantConfigContent.classList.toggle('hidden', !state.showPlantConfig);\n                \n                if (state.showPlantConfig) {\n                    els.toggleSettingsBtn.classList.add('bg-green-100', 'text-green-700');\n                    els.toggleSettingsBtn.classList.remove('text-gray-400', 'bg-transparent', 'hover:bg-gray-100');\n                    setTimeout(() => { window.scrollTo({ top: 0, behavior: 'smooth' }); }, 50);\n                } else {\n                    els.toggleSettingsBtn.classList.remove('bg-green-100', 'text-green-700');\n                    els.toggleSettingsBtn.classList.add('text-gray-400', 'bg-transparent', 'hover:bg-gray-100');\n                }\n            });\n\n            els.plantForm.addEventListener('submit', function(e) {\n                e.preventDefault();\n                saveConfiguration();\n            });\n        }\n\n        function renderPlantGrid() {\n            if (!PLANT_TYPES.length) return;\n\n            els.plantGrid.innerHTML = PLANT_TYPES.map(plant => {\n                const isSelected = state.selectedPlant === plant.id;\n                const baseClasses = \"text-left p-4 rounded-2xl border-2 transition-all cursor-pointer \";\n                const colorClasses = isSelected \n                    ? \"border-green-500 bg-green-50 shadow-sm\" \n                    : \"border-gray-100 bg-white hover:border-green-200 hover:bg-gray-50\";\n                const titleColor = isSelected ? \"text-green-800\" : \"text-gray-800\";\n                const dotHtml = isSelected ? `<div class=\"h-3 w-3 rounded-full bg-green-500 mt-1\"></div>` : '';\n\n                const tempStr = `${plant.temperature.min}-${plant.temperature.max}°C`;\n                const humStr = `${plant.humidity.min}-${plant.humidity.max}%`;\n\n                return `\n                    <button type=\"button\" onclick=\"selectPlant('${plant.id}')\" class=\"${baseClasses} ${colorClasses}\">\n                        <div class=\"flex justify-between items-start mb-2\">\n                            <h3 class=\"font-semibold ${titleColor}\">${plant.name}</h3>\n                            ${dotHtml}\n                        </div>\n                        <div class=\"text-xs space-y-1 text-gray-500\">\n                            <p class=\"flex justify-between\">\n                                <span>Ideal Temp:</span> <span class=\"font-medium text-gray-700\">${tempStr}</span>\n                            </p>\n                            <p class=\"flex justify-between\">\n                                <span>Ideal Hum:</span> <span class=\"font-medium text-gray-700\">${humStr}</span>\n                            </p>\n                        </div>\n                    </button>\n                `;\n            }).join('');\n\n            const selectedPlantObj = PLANT_TYPES.find(p => p.id === state.selectedPlant);\n            els.selectedPlantName.innerText = selectedPlantObj ? selectedPlantObj.name : '';\n        }\n\n        window.selectPlant = function(plantId) {\n            state.selectedPlant = plantId;\n            renderPlantGrid();\n            renderPlantDetail();\n            updateSaveButtonState();\n            \n            const plantInfo = PLANT_TYPES.find(p => p.id === plantId);\n            document.getElementById('selected-plant-input').value = plantId;\n            document.getElementById('plant-name-input').value = plantInfo ? plantInfo.name : '';\n        }\n\n        function renderPlantDetail() {\n            const selectedPlantObj = PLANT_TYPES.find(p => p.id === state.selectedPlant);\n            if (!selectedPlantObj) return;\n\n            const tempStr = `${selectedPlantObj.temperature.min}-${selectedPlantObj.temperature.max}°C`;\n            const humStr = `${selectedPlantObj.humidity.min}-${selectedPlantObj.humidity.max}%`;\n            const lightStr = `${selectedPlantObj.light.min}-${selectedPlantObj.light.max} lux`;\n\n            els.plantDetailContent.innerHTML = `\n                <div class=\"bg-white rounded-2xl p-6 border border-green-100\">\n                    <div class=\"flex items-start justify-between mb-4\">\n                        <div>\n                            <h3 class=\"text-2xl font-bold text-gray-800 mb-2\">${selectedPlantObj.name}</h3>\n                            <p class=\"text-gray-600 leading-relaxed\">${selectedPlantObj.description}</p>\n                        </div>\n                        <div class=\"bg-green-100 px-3 py-1 rounded-full\">\n                            <span class=\"text-green-800 font-medium text-sm\">${selectedPlantObj.growthRate} Growing</span>\n                        </div>\n                    </div>\n                    \n                    <div class=\"grid grid-cols-1 md:grid-cols-2 gap-6 mt-6\">\n                        <div class=\"space-y-4\">\n                            <h4 class=\"font-semibold text-gray-800 flex items-center\">\n                                <i class=\"ph ph-heart text-green-600 mr-2\"></i> Care Requirements\n                            </h4>\n                            \n                            <div class=\"space-y-3\">\n                                <div class=\"flex items-center space-x-3\">\n                                    <div class=\"w-8 h-8 bg-blue-100 rounded-lg flex items-center justify-center\">\n                                        <i class=\"ph ph-drop text-blue-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Watering</p>\n                                        <p class=\"text-sm text-gray-500\">${selectedPlantObj.waterFrequency}</p>\n                                    </div>\n                                </div>\n                                \n                                <div class=\"flex items-center space-x-3\">\n                                    <div class=\"w-8 h-8 bg-amber-100 rounded-lg flex items-center justify-center\">\n                                        <i class=\"ph ph-sun text-amber-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Light Goal</p>\n                                        <p class=\"text-sm text-gray-500\">${lightStr}</p>\n                                    </div>\n                                </div>\n                                \n                                <div class=\"flex items-center space-x-3\">\n                                    <div class=\"w-8 h-8 bg-orange-100 rounded-lg flex items-center justify-center\">\n                                        <i class=\"ph ph-thermometer text-orange-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Temperature Goal</p>\n                                        <p class=\"text-sm text-gray-500\">${tempStr}</p>\n                                    </div>\n                                </div>\n                                \n                                <div class=\"flex items-center space-x-3\">\n                                    <div class=\"w-8 h-8 bg-cyan-100 rounded-lg flex items-center justify-center\">\n                                        <i class=\"ph ph-humidity text-cyan-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Humidity Goal</p>\n                                        <p class=\"text-sm text-gray-500\">${humStr}</p>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                        \n                        <div class=\"space-y-4\">\n                            <h4 class=\"font-semibold text-gray-800 flex items-center\">\n                                <i class=\"ph ph-info text-green-600 mr-2\"></i> Additional Information\n                            </h4>\n                            \n                            <div class=\"space-y-3\">\n                                <div class=\"flex items-start space-x-3\">\n                                    <div class=\"w-8 h-8 bg-green-100 rounded-lg flex items-center justify-center mt-0.5\">\n                                        <i class=\"ph ph-plant text-green-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Soil Type</p>\n                                        <p class=\"text-sm text-gray-500\">${selectedPlantObj.soilType}</p>\n                                    </div>\n                                </div>\n                                \n                                <div class=\"flex items-start space-x-3\">\n                                    <div class=\"w-8 h-8 bg-purple-100 rounded-lg flex items-center justify-center mt-0.5\">\n                                        <i class=\"ph ph-flask text-purple-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Fertilizer</p>\n                                        <p class=\"text-sm text-gray-500\">${selectedPlantObj.fertilizer}</p>\n                                    </div>\n                                </div>\n                                \n                                <div class=\"flex items-start space-x-3\">\n                                    <div class=\"w-8 h-8 bg-emerald-100 rounded-lg flex items-center justify-center mt-0.5\">\n                                        <i class=\"ph ph-ruler text-emerald-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Max Height</p>\n                                        <p class=\"text-sm text-gray-500\">${selectedPlantObj.maxHeight}</p>\n                                    </div>\n                                </div>\n                                \n                                <div class=\"flex items-start space-x-3\">\n                                    <div class=\"w-8 h-8 bg-red-100 rounded-lg flex items-center justify-center mt-0.5\">\n                                        <i class=\"ph ph-warning text-red-600 text-sm\"></i>\n                                    </div>\n                                    <div class=\"flex-1\">\n                                        <p class=\"text-sm font-medium text-gray-700\">Common Issues</p>\n                                        <p class=\"text-sm text-gray-500\">${selectedPlantObj.commonIssues}</p>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            `;\n        }\n\n        function updateSaveButtonState() {\n            const hasChanges = state.selectedPlant !== state.originalSelectedPlant;\n            if (hasChanges) {\n                els.saveBtn.disabled = false;\n                els.saveBtn.className = \"flex items-center space-x-2 px-6 py-3 rounded-xl font-medium transition-all shadow-sm bg-green-600 text-white hover:bg-green-700 hover:shadow-md\";\n                els.saveBtnText.innerText = \"Save Configuration\";\n                els.saveBtnIcon.className = \"ph ph-check text-lg\";\n            } else {\n                els.saveBtn.disabled = true;\n                els.saveBtn.className = \"flex items-center space-x-2 px-6 py-3 rounded-xl font-medium transition-all shadow-sm bg-gray-400 text-white cursor-not-allowed\";\n                els.saveBtnText.innerText = \"Save Configuration\";\n                els.saveBtnIcon.className = \"ph ph-check text-lg\";\n            }\n        }\n\n        function setSaveButtonStatus(status) {\n            els.saveBtn.disabled = true;\n            els.saveSuccessMsg.classList.add('hidden');\n\n            if (status === 'saving') {\n                els.saveBtn.className = \"flex items-center space-x-2 px-6 py-3 rounded-xl font-medium transition-all shadow-sm bg-green-600 text-white\";\n                els.saveBtnText.innerText = \"Saving...\";\n                els.saveBtnIcon.className = \"ph ph-spinner text-lg animate-spin\";\n            } else if (status === 'success') {\n                els.saveBtn.className = \"flex items-center space-x-2 px-6 py-3 rounded-xl font-medium transition-all shadow-sm bg-emerald-500 text-white hover:bg-emerald-600\";\n                els.saveBtnText.innerText = \"Saved\";\n                els.saveBtnIcon.className = \"ph ph-check-circle text-lg\";\n                els.saveSuccessMsg.classList.remove('hidden');\n            }\n        }\n\n        async function saveConfiguration() {\n            const plantInfo = PLANT_TYPES.find(p => p.id === state.selectedPlant);\n            if (!plantInfo) return;\n\n            const config = { plant: plantInfo.id, plantName: plantInfo.name, timestamp: Date.now() };\n\n            setSaveButtonStatus('saving');\n            \n            try {\n                await fetch('/success', {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(plantInfo)\n                });\n\n                localStorage.setItem('smartPotConfig', JSON.stringify(config));\n                state.originalSelectedPlant = state.selectedPlant;\n                \n                els.selectedPlantInput.value = config.plant;\n                els.plantNameInput.value = config.plantName;\n                \n                setSaveButtonStatus('success');\n                updateSaveButtonState();\n\n                setTimeout(() => { \n                    if (state.showPlantConfig) els.toggleSettingsBtn.click(); \n                }, 1500);\n\n            } catch (error) {\n                console.error(\"Failed to sync configuration with Node-RED:\", error);\n            }\n        }\n\n        init();\n    </script>\n</body>\n</html>",
        "output": "str",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "d788ab124df2dd62"
            ]
        ]
    },
    {
        "id": "f2b4aa646abbe331",
        "type": "inject",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "{\"temp\": 35.5,\"humidity\": 60,\"light\": 800 }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "2ef35af19fa6ac32"
            ]
        ]
    },
    {
        "id": "2ef35af19fa6ac32",
        "type": "change",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4fab52ba1d9fe31f",
        "type": "http in",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "url": "/success",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "e455b7db70a6fae5"
            ]
        ]
    },
    {
        "id": "76818944b2a186ef",
        "type": "http response",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "statusCode": "303",
        "headers": {
            "location": "/myui"
        },
        "x": 560,
        "y": 820,
        "wires": []
    },
    {
        "id": "4e3f1bf36d3e544d",
        "type": "mqtt in",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "topic": "YOM/heartbeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5e32988b2e720b33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 500,
        "wires": [
            [
                "07f5f1c9739a628d"
            ]
        ]
    },
    {
        "id": "07f5f1c9739a628d",
        "type": "timeout",
        "z": "3d30a48e8cdd7818",
        "name": "Notification Timeout",
        "outtopic": "",
        "outsafe": "Connected",
        "outwarning": "Connecting...",
        "outunsafe": "Disconnected",
        "warning": "5",
        "timer": "10",
        "repeat": false,
        "again": false,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "738fe26a0f1aab13"
            ]
        ]
    },
    {
        "id": "738fe26a0f1aab13",
        "type": "change",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "208cacf5b932a4b9",
        "type": "inject",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "{\"temp\": 37.5,\"humidity\": 60,\"light\": 1000 }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "2ef35af19fa6ac32"
            ]
        ]
    },
    {
        "id": "a7c7da86db8d3bad",
        "type": "function",
        "z": "3d30a48e8cdd7818",
        "name": "function 2",
        "func": "// Get the current saved data from your flow memory\nlet currentData = flow.get(\"payload\") || {};\nlet currentStatus = flow.get(\"status\") || \"Disconnected\";\n\n// Package it up for the web dashboard\nmsg.payload = {\n    temp: currentData.temp,\n    humidity: currentData.humidity,\n    light: currentData.light,\n    status: currentStatus\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 580,
        "wires": [
            [
                "dfbd294882c45b71"
            ]
        ]
    },
    {
        "id": "a378d9d5cbf1a907",
        "type": "http in",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "a7c7da86db8d3bad"
            ]
        ]
    },
    {
        "id": "dfbd294882c45b71",
        "type": "http response",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "fb5f606329bf609b",
        "type": "function",
        "z": "3d30a48e8cdd7818",
        "name": "function 3",
        "func": "msg.payload = [\n    { \n        \"id\": \"holy_basil\", \n        \"name\": \"Holy Basil (Kaphrao / กะเพรา)\", \n        \"description\": \"Essential Thai herb with a spicy, peppery flavor, famously used in Pad Kaphrao. Loves heat and sunlight.\",\n        \"waterFrequency\": \"Daily (keep soil consistently moist but not soggy)\", \n        \"lightRequirement\": \"Full sun to partial shade\", \n        \"soilType\": \"Well-draining, nutrient-rich loamy soil\",\n        \"fertilizer\": \"Every 2 weeks with a high-nitrogen organic fertilizer\", \n        \"commonIssues\": \"Wilting from underwatering, aphids on new growth\",\n        \"growthRate\": \"Fast\", \n        \"maxHeight\": \"1-2 feet\",\n        \"light\": { \"min\": 4000, \"max\": 10000 },\n        \"humidity\": { \"min\": 50, \"max\": 80 },\n        \"temperature\": { \"min\": 22, \"max\": 35 }\n    },\n    { \n        \"id\": \"thai_chili\", \n        \"name\": \"Bird's Eye Chili (Prik Kee Noo / พริกขี้หนู)\", \n        \"description\": \"Small but highly pungent chili peppers that are fundamental to Thai curry pastes and salads.\",\n        \"waterFrequency\": \"When the top inch of soil is dry (do not overwater)\", \n        \"lightRequirement\": \"Full direct sun\", \n        \"soilType\": \"Sandy, well-draining potting mix\",\n        \"fertilizer\": \"Monthly (use tomato/pepper specific fertilizer when blooming)\", \n        \"commonIssues\": \"Root rot from overwatering, flower drop if too hot/dry\",\n        \"growthRate\": \"Medium\", \n        \"maxHeight\": \"2-3 feet\",\n        \"light\": { \"min\": 5000, \"max\": 12000 },\n        \"humidity\": { \"min\": 50, \"max\": 75 },\n        \"temperature\": { \"min\": 20, \"max\": 35 }\n    },\n    { \n        \"id\": \"lemongrass\", \n        \"name\": \"Lemongrass (Takhrai / ตะไคร้)\", \n        \"description\": \"Fragrant grass with a citrusy aroma, heavily used in Tom Yum soup. Very resilient.\",\n        \"waterFrequency\": \"Every 1-2 days (loves water)\", \n        \"lightRequirement\": \"Full direct sun\", \n        \"soilType\": \"Rich, moisture-retaining soil\",\n        \"fertilizer\": \"High-nitrogen fertilizer every 2-3 weeks\", \n        \"commonIssues\": \"Rust fungus (if leaves stay wet), stunted growth from lack of sun\",\n        \"growthRate\": \"Fast\", \n        \"maxHeight\": \"3-5 feet\",\n        \"light\": { \"min\": 6000, \"max\": 12000 },\n        \"humidity\": { \"min\": 60, \"max\": 85 },\n        \"temperature\": { \"min\": 25, \"max\": 35 }\n    },\n    { \n        \"id\": \"coriander\", \n        \"name\": \"Coriander/Cilantro (Phak Chi / ผักชี)\", \n        \"description\": \"Delicate herb where both leaves and roots are used. It prefers slightly cooler conditions than other Thai herbs.\",\n        \"waterFrequency\": \"Regularly to keep soil slightly moist\", \n        \"lightRequirement\": \"Morning sun, afternoon shade (can bolt/flower quickly in intense heat)\", \n        \"soilType\": \"Light, well-draining soil\",\n        \"fertilizer\": \"Liquid organic fertilizer every 2 weeks\", \n        \"commonIssues\": \"Bolting (going to seed too fast) from heat stress, powdery mildew\",\n        \"growthRate\": \"Fast\", \n        \"maxHeight\": \"1-2 feet\",\n        \"light\": { \"min\": 2000, \"max\": 6000 },\n        \"humidity\": { \"min\": 50, \"max\": 75 },\n        \"temperature\": { \"min\": 15, \"max\": 28 }\n    },\n    { \n        \"id\": \"spring_onion\", \n        \"name\": \"Spring Onion (Ton Hom / ต้นหอม)\", \n        \"description\": \"A fast-growing essential Thai garnish. Very easy to grow in pots but has shallow roots that dry out quickly.\",\n        \"waterFrequency\": \"Regularly keep the soil moist but not soggy\", \n        \"lightRequirement\": \"Full sun to partial shade\", \n        \"soilType\": \"Loose, well-draining soil\",\n        \"fertilizer\": \"Liquid nitrogen fertilizer every 2 weeks\", \n        \"commonIssues\": \"Bulb rot from overwatering, yellowing tips from nutrient lack\",\n        \"growthRate\": \"Fast\", \n        \"maxHeight\": \"1-2 feet\",\n        \"light\": { \"min\": 3000, \"max\": 8000 },\n        \"humidity\": { \"min\": 50, \"max\": 75 },\n        \"temperature\": { \"min\": 20, \"max\": 32 }\n    },\n    { \n        \"id\": \"lime\", \n        \"name\": \"Lime (Manao / มะนาว)\", \n        \"description\": \"The crucial sour flavor in Thai cooking. Requires excellent drainage and lots of sunlight to produce fruit.\",\n        \"waterFrequency\": \"Deep watering, then let the top 2 inches dry out completely\", \n        \"lightRequirement\": \"Full direct sun\", \n        \"soilType\": \"Sandy, loamy citrus mix with excellent drainage\",\n        \"fertilizer\": \"Citrus fertilizer every 1-2 months\", \n        \"commonIssues\": \"Leaf miners (curled leaves), root rot, flower drop\",\n        \"growthRate\": \"Medium\", \n        \"maxHeight\": \"3-5 feet (in pots)\",\n        \"light\": { \"min\": 6000, \"max\": 12000 },\n        \"humidity\": { \"min\": 50, \"max\": 80 },\n        \"temperature\": { \"min\": 22, \"max\": 35 }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 660,
        "wires": [
            [
                "4233fc2030441b70"
            ]
        ]
    },
    {
        "id": "66d06f149d7bc268",
        "type": "http in",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "url": "/plants",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "fb5f606329bf609b"
            ]
        ]
    },
    {
        "id": "4233fc2030441b70",
        "type": "http response",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "e455b7db70a6fae5",
        "type": "template",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Configuration Saved - Smart Pot</title>\n    <!-- Tailwind CSS for styling -->\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <!-- Phosphor Icons for UI icons -->\n    <script src=\"https://unpkg.com/@phosphor-icons/web\"></script>\n    \n    <style>\n        body { font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif; }\n        .hidden { display: none !important; }\n    </style>\n</head>\n<body class=\"bg-slate-50 text-slate-800 selection:bg-green-100 min-h-screen\">\n\n    <!-- Top Navigation Bar -->\n    <nav class=\"bg-white border-b border-gray-200 px-6 py-4 sticky top-0 z-10 shadow-sm\">\n        <div class=\"max-w-5xl mx-auto flex justify-between items-center\">\n            <div class=\"flex items-center space-x-3\">\n                <div class=\"bg-green-500 p-2 rounded-xl text-white flex items-center justify-center\">\n                    <i class=\"ph ph-leaf text-2xl\"></i>\n                </div>\n                <h1 class=\"text-xl font-bold tracking-tight text-gray-900\">Smart Pot Dashboard</h1>\n            </div>\n            \n            <div class=\"flex items-center space-x-4\">\n                <!-- Data Source Status Indicator -->\n                <div class=\"flex items-center space-x-2 text-sm font-medium\">\n                    <span class=\"flex items-center text-emerald-600 bg-emerald-50 px-3 py-1 rounded-full\">\n                        <i class=\"ph ph-database text-base mr-2\"></i> Mock Data\n                    </span>\n                </div>\n            </div>\n        </div>\n    </nav>\n\n    <!-- Main Content -->\n    <main class=\"max-w-5xl mx-auto px-6 py-8\">\n        <!-- Success Message Section -->\n        <section class=\"bg-white rounded-3xl border border-gray-200 shadow-sm overflow-hidden\">\n            <div class=\"p-8 md:p-12 text-center\">\n                <!-- Success Icon -->\n                <div class=\"flex justify-center mb-6\">\n                    <div class=\"bg-emerald-100 p-6 rounded-full text-emerald-600 flex items-center justify-center\">\n                        <i class=\"ph ph-check-circle text-5xl\"></i>\n                    </div>\n                </div>\n\n                <!-- Success Title -->\n                <h2 class=\"text-3xl font-bold text-gray-800 mb-4\">Plant Configuration Saved!</h2>\n                \n                <!-- Success Description -->\n                <p class=\"text-lg text-gray-600 mb-8 max-w-2xl mx-auto\">\n                    Your Smart Pot has been successfully configured with the new plant settings. The care algorithms will now adjust to provide optimal conditions for your plant.\n                </p>\n\n                <!-- Configuration Details -->\n                <div class=\"bg-gray-50 rounded-2xl p-6 mb-8 max-w-md mx-auto\">\n                    <h3 class=\"text-sm font-semibold text-gray-500 uppercase tracking-wider mb-4\">Configuration Details</h3>\n                    <div class=\"space-y-3 text-left\">\n                        <div class=\"flex justify-between items-center py-2 border-b border-gray-200\">\n                            <span class=\"text-sm text-gray-600\">Plant Type:</span>\n                            <span id=\"selected-plant\" class=\"font-medium text-gray-800\">Loading...</span>\n                        </div>\n                        <div class=\"flex justify-between items-center py-2 border-b border-gray-200\">\n                            <span class=\"text-sm text-gray-600\">Configuration ID:</span>\n                            <span id=\"config-id\" class=\"font-mono text-sm text-gray-800\">Loading...</span>\n                        </div>\n                        <div class=\"flex justify-between items-center py-2\">\n                            <span class=\"text-sm text-gray-600\">Saved At:</span>\n                            <span id=\"saved-time\" class=\"font-medium text-gray-800\">Loading...</span>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Action Buttons -->\n                <div class=\"flex flex-col sm:flex-row gap-4 justify-center items-center\">\n                    <a href=\"Dashboard.html\" class=\"flex items-center space-x-2 px-8 py-3 rounded-xl font-medium transition-all shadow-sm bg-green-600 text-white hover:bg-green-700 hover:shadow-md\">\n                        <i class=\"ph ph-arrow-left text-lg\"></i>\n                        <span>Back to Dashboard</span>\n                    </a>\n                    \n                    <button onclick=\"window.print()\" class=\"flex items-center space-x-2 px-8 py-3 rounded-xl font-medium transition-all border border-gray-300 bg-white text-gray-700 hover:bg-gray-50\">\n                        <i class=\"ph ph-printer text-lg\"></i>\n                        <span>Print Confirmation</span>\n                    </button>\n                </div>\n\n                <!-- Additional Info -->\n                <div class=\"mt-8 text-sm text-gray-500 bg-blue-50 p-4 rounded-lg border border-blue-100 max-w-2xl mx-auto\">\n                    <p class=\"flex items-start\">\n                        <i class=\"ph ph-info text-blue-500 mr-2 mt-0.5\"></i>\n                        <span>Your plant configuration has been saved to the Smart Pot's memory. The system will now monitor and adjust environmental conditions based on your plant's specific needs.</span>\n                    </p>\n                </div>\n            </div>\n        </section>\n    </main>\n\n    <script>\n        // Parse URL parameters to get form data\n        function getUrlParams() {\n            const params = new URLSearchParams(window.location.search);\n            const formData = {};\n            \n            // Try to get data from URL parameters or localStorage\n            const plant = params.get('plant') || localStorage.getItem('lastPlant');\n            const plantName = params.get('plantName') || localStorage.getItem('lastPlantName');\n            \n            if (plant) formData.plant = plant;\n            if (plantName) formData.plantName = plantName;\n            \n            return formData;\n        }\n\n        // Update the page with configuration details\n        function updateSuccessPage() {\n            const formData = getUrlParams();\n            \n            // Update plant name\n            const plantElement = document.getElementById('selected-plant');\n            if (formData.plantName) {\n                plantElement.textContent = formData.plantName;\n            } else {\n                plantElement.textContent = 'Unknown Plant';\n            }\n            \n            // Generate configuration ID\n            const configId = 'CFG-' + Date.now().toString(36).toUpperCase();\n            document.getElementById('config-id').textContent = configId;\n            \n            // Set saved time\n            const now = new Date();\n            document.getElementById('saved-time').textContent = now.toLocaleString();\n            \n            // Store in localStorage for reference\n            localStorage.setItem('lastPlant', formData.plant || '');\n            localStorage.setItem('lastPlantName', formData.plantName || '');\n            localStorage.setItem('lastConfigId', configId);\n            localStorage.setItem('lastSavedTime', now.toISOString());\n        }\n\n        // Initialize page\n        document.addEventListener('DOMContentLoaded', updateSuccessPage);\n    </script>\n</body>\n</html>\n",
        "output": "str",
        "x": 380,
        "y": 820,
        "wires": [
            [
                "76818944b2a186ef"
            ]
        ]
    },
    {
        "id": "377ce4f775a6fe9f",
        "type": "http in",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "url": "/statusplant",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 900,
        "wires": [
            [
                "7b87c11263a33a36",
                "7da6a4c2aa1391b8",
                "40e0e6a93d5b9e65"
            ]
        ]
    },
    {
        "id": "7b87c11263a33a36",
        "type": "http response",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 370,
        "y": 900,
        "wires": []
    },
    {
        "id": "7da6a4c2aa1391b8",
        "type": "mqtt out",
        "z": "3d30a48e8cdd7818",
        "name": "",
        "topic": "YOM/statusplant",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e32988b2e720b33",
        "x": 410,
        "y": 980,
        "wires": []
    },
    {
        "id": "40e0e6a93d5b9e65",
        "type": "debug",
        "z": "3d30a48e8cdd7818",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1040,
        "wires": []
    },
    {
        "id": "495ff374fa071e93",
        "type": "ui_spacer",
        "z": "3d30a48e8cdd7818",
        "name": "spacer",
        "group": "f1534fa128dcdd9b",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e32988b2e720b33",
        "type": "mqtt-broker",
        "name": "mqttx",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f1534fa128dcdd9b",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "19a8ffd496b4b338",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "19a8ffd496b4b338",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "b0a4ea6620b62c56",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-timeout": "1.1.5",
            "node-red-dashboard": "3.6.6"
        }
    }
]